<h2 class="text-center">新增评论</h2>

<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [@imovie,@review] do |f| %>
    <div class="form-imovie">
      <%= f.input :内容, input_html: { class: "form-control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "提交", disable_with: "提交不成功", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
